.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-icon {
    height: 30px;
    margin-left: 35px;
    margin-right: 15px;
}

.youtube-logo {
    height: 90px;
}

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
}

.search-box{
    padding-left: 10px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 190, 190);
    flex: 1;
    border-radius: 5px;
    font-size: 20px;
    font-family: roboto;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
    width: 0;
}

.search-box::placeholder{
    font-size: 20px;
}

.search-button{
    margin-left: -3px;
    margin-top: 1px;
    height: 54px;
    width: 80px;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    margin-right: 15px;
    background-color: rgb(228, 228, 228);
    position: relative;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-container,
.notifications-icon-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-container .tooltip,
.notifications-icon-div .tooltip
{
    position: absolute;
    background-color: rgb(146, 146, 146);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: -30px;
    font-size: 15px;
    font-family: Roboto;
    color: white;
    transition: opacity 0.15s;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-icon-div:hover .tooltip
{
    opacity: 1;

}

.search-icon{
    height: 20px;
}

.voice-search-button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgb(228, 228, 228);
}

.voice-search-icon{
    height: 30px;
}

.right-section{
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon{
    height: 30px;
}

.grid-icon{
    height: 30px;
}

.notification-icon{
    height: 30px;
}

.notifications-icon-div{
    position: relative;
}

.notifications-number{
    position: absolute;
    top: -4px;
    right: -3px;
    background-color: rgb(202, 7, 7);
    color: white;
    font-family: roboto;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
}

.profile{
    height: 45px;
    border-radius: 25px;
    margin-right: 13px;
}